.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: $font;
  line-height: 1;
  font-weight: 400;
  color: $text-color;
  background: white;
}

.button {
  display: inline-block;
  line-height: 1;
  padding: 13px 45px;
  border: none;
  outline: none;
  border-radius: 10px;
  font-family: $font;
  color: $primary-color;

  &--round {
    border: 1px solid;
    border-radius: 100rem;
  }

  &--primary {
    color: $white-color;
    background-color: $primary-color;
  }

  &--box-shadow {
    position: relative;
    &::after {
      content: "";
      width: 90%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      filter: blur(54px);
      border-radius: 60px;
      background-color: rgba(245, 56, 56, 0.35);
    }
  }
}

.heading-title {
  font-weight: 500;
  font-size: 35px;
  line-height: calc(50 / 35);
  color: $heading-color;
  text-transform: capitalize;
}

.desc {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: $text-color;
}

.list {
    list-style: none;
}
.item {
    display: flex;
    gap: 0 10px;
    align-items: center;
}
