.wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: $font;
    line-height: 1;
    font-weight: 400;
    color: $text-color;
    background: #F6F6F6;
}

.button {
    display: inline-block;
    line-height: 1;
    padding: 13px 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: $font;

    &--primary {
        color: $white-color;
        background-color: $primary-color;
    }

    &--round {
        border: 1px solid;
        color: $primary-color;
        border-radius: 100rem;      
    }

    &--box-shadow {
        box-shadow: 0px 20px 30px 0px rgba(245, 56, 56, 0.35);
    }

}