.header {
  padding-top: 50px;
  padding-bottom: 100px;
  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    list-style: none;
    display: flex;
    gap: 0 40px;
    &-link {
        color: $text-color;
    }
  }

  &-auth {
      display: flex;
      gap: 0 30px;
      align-items: center;
      .signin {
          font-weight: 500;
          color: $heading-color;
      }

      .signup {
          font-weight: 500;
      }
  }
}
